<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Ekran główny</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Main Window</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/new-task">New task</a></li>
            <li><a href="/all-tasks">All tasks</a></li>
        </ul>
    </div>
</nav>
<div th:switch="${mode}">
    <div th:case="MODE_HOME">
        <div class="container" id="homeDiv">
            <div class="jumbotron text-center">
                <h3>Welcome to Task Manager</h3>
                <p>You can add, delete and modify tasks</p>
            </div>
        </div>
    </div>
    <div th:case="MODE_TASKS">
        <div class="container text-center" id="taskDiv">
            <div class="jumbotron text-center">
                <h3>My tasks</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-left">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Date Created</th>
                            <th>Finished</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task : ${tasks}">
                            <td th:text="${task.id}">ID</td>
                            <td th:text="${task.name}">Name</td>
                            <td th:text="${task.description}">Description</td>
                            <td th:text="${task.dateCreated}">Date Created</td>
                            <td th:text="${task.finished}">Finished</td>
                            <td><a th:href="@{'/update-task'(id=${task.id})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a th:href="@{'/delete-task'(id=${task.id})}"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:case="MODE_NEW">
        <div class="container text-center">
            <h3>New Task</h3>
            <form class="form-horizontal" th:object="${task}" method="post" th:action="@{/save-task}">
                <input type="hidden" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="control-label col-md-3">Name</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" th:maxlength="85" th:placeholder="Name" th:field="*{name}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Description</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" th:maxlength="255" th:placeholder="Description" th:field="*{description}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Finished</label>
                    <div class="col-md-5">
                        <input type="checkbox" th:field="*{finished}"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save"/>
                </div>
            </form>
        </div>
    </div>
    <div th:case="MODE_UPDATE">
        <div class="container text-center">
            <h3>Manage Task</h3>
            <form class="form-horizontal" th:object="${task}" method="post" th:action="@{/save-task}">
                <input type="hidden" name="id" th:field="*{id}"/>
                <div class="form-group">
                    <label class="control-label col-md-3">Name</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" th:maxlength="85" th:field="*{name}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Description</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" th:maxlength="255" th:field="*{description}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Finished</label>
                    <div class="col-md-5">
                        <input type="checkbox" th:field="*{finished}"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save"/>
                </div>
            </form>
        </div>
    </div>
    <div th:case="*"></div>
</div>



</body>
</html>