<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Ekran główny</title>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Main Window</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Manage tasks</a></li>
            <li><a href="#">All tasks</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center">
        <h3>Welcome to Task Manager</h3>
        <p>You can add, delete and modify tasks</p>
    </div>
</div>
</body>
</html>